@import '_colors';

body, html, .container {
  height: 100%;
}

body {
  background-color: $background-color;
  padding: 0;
  margin: 0;

  .container {
    display: flex;
    align-items: center;

    .box-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .box {
        width: 400px;
        min-width: 400px;
        height: 200px;
        background-color: $box-background-color;
        border-radius: 26px;
        position: relative;
        overflow: hidden;
        border: 2px solid $box-border-color;
        -webkit-box-shadow: 10px 0px 67px 5px $box-shadow-color;
        -moz-box-shadow: 10px 0px 67px 5px $box-shadow-color;
        -o-box-shadow: 10px 0px 67px 5px $box-shadow-color;
        box-shadow: 10px 0px 67px 5px $box-shadow-color;

        .circle {
          border-radius: 50%;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          padding: 22px;
          background-color: white;
          border: 1px solid $background-color;
          position: absolute;
          -webkit-transition: all 1000ms ease-in-out;
          -ms-transition: all 1000ms ease-in-out;
          -o-transition: all 1000ms ease-in-out;
          transition: all 1000ms ease-in-out;

          &.right {
            left: calc(100% - 45px);
          }

          &.bottom {
            top: calc(100% - 45px);
          }
        }

      }

    }
  }

}
