<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BetEnt test app</title>
    <meta name="description" content="BetEnt test app desc">

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/underscore/underscore-min.js"></script>

    <script src="./js/app.js"></script>
    <script src="./js/controllers/mainCtrl.js"></script>
    <script src="./js/directives/cirleDirective.js"></script>

    <!-- Connect assembled SASS file -->
    <link rel="stylesheet" href="./assets/css/styles.css">

  </head>
  <body ng-controller="myCtrl">
    <div class="container">
      <div ng-if="ready" class="box-wrapper">
        <div class="box">
          <circle color="{{colorObj.hex}}" coords="{{posArr[curPos]}}" click-function="circleClick()"></circle>
        </div>
      </div>
    </div>
  </body>
</html>
